# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/
/it_tanks_two
it_tanks_two.so
it_tanks_two.dylib
it_tanks_two.dll
it_tanks_two.a
it_tanks_two.lib
it_tanks_two-test-*
*.exe
*.o
*.obj

# Code coverage
*.lst

# VS Code
.vscode/